# 1. Секретные переменные (САМОЕ ВАЖНОЕ!)
*.tfvars
*.tfvars.json

# 2. Локальная папка с плагинами (она весит сотни мегабайт, ей не место в Git)
**/.terraform/*

# 3. Файлы состояния Terraform (State)
*.tfstate
*.tfstate.*

# 4. Файлы логов при падении
crash.log
crash.*.log

# 5. Системные файлы macOS (так как ты работаешь на Mac-mini, чтобы они не мусорили в репозитории)
.DS_Store

backend.local.tfvars